#aboutUsContent {
  height: 100vh;
}

#aboutUsBanner {
  height: 40vh;
  width: 100vw;
  background-color: lightcoral;
}
#aboutUsSegmentInfo {
  column-count: 2;
  column-gap: 0;
  padding: 0;
  width: 80vw;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#meetTheTeamVisible {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}

#meetTheTeamHidden {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color:lightgray;
}

#ourCharitysVisible {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}

#ourCharitysHidden {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}

#ourVisionVisible {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}

#ourVisionHidden {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}

#ourAimsVisible {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}

#ourAimsHidden {
  height: 40vh;
  width:40vw;
  padding-top: 10vh;
  text-align: center;
  background-color: lightgray;
}
