#bannerBackground{
    background-image: url("/images/background3.png");
    height: 300vh;
    background-attachment: fixed;
    background-position:right;
    background-repeat: no-repeat;
    background-color: transparent;
}

#bannerInfoTxt {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.bannerInfo {
  background: none;
  color: #fffff4;
}

#subInfoTxt {
  background: none;
  color: black;
  font-size: 2.5vw;
}

#bannerTxt {
  color: #fffff4;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
}

.numbers {
  background: none;
  color: #fe8733;
}

#angleDownIcon {
  color: #fe8733;
}

#dubbleArrowDown {
  width: 1rem;
  height: 1rem;
  display: flex;
  position: absolute;
  top: 94%;
  left:50%;
  transform: translate(-50%, -50%);
  color: black;
}

#environmentalSection {
  position: absolute;
  top:100vh;
}

#bannerButton {
  position: relative;
  top: 50%;
  left:50%;
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  color: black;
  border-radius: 10px;
}

#infoSegment{
  position: absolute;
  background-color: transparent;
  top:200vh;
}
