#becomeAPartnerContent {
  height: 110vh;
  padding-top: 15vh;
}

#title {
  font-family: "Poppins", sans-serif;
  font-size: 7vh;
  margin-top: 7%;
  margin-left: 20%;
  color: #fe8733cb;
}

#subTitle {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  margin-left: 20%;
}

#highlightedWord {
  color: #fe8733cb;
}

.conclusion {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  margin-left: 20%;
}