#becomeAPartner {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 15vh;
  background-color: #fffff4;
}

#becomeAPartnerContent {
  position: absolute;
  left:50vw;
  transform: translateX(-50%);
 
}

#titleBecomePartner {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-top: 7%;
  text-align: left;
  color: #fe8733cb;
}

#subTitleBecomePartner {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: left;
}

#highlightedWord {
  color: #fe8733cb;
}

#cardGroupBecomePartner {
  text-align: center;
}

#becomePartnerCard1 {
  background-color:transparent;
}

#becomePartnerCard2 {
  background-color:transparent;
}

#signOffBecomePartner {
  font-family: "Give You Glory";
  font-size: 1.2rem;
  text-align: left;
}

#conditionBecomePartner {
  font-family: "Poppins", sans-serif;
  font-size: 0.5rem;
  text-align: left;
}

/* ------------mobile----------- */

#becomeAPartnerContentMobile {
  min-height: 100vh;
  padding: 2rem;
  background-color: #fffff4;
}

#titleJoinTeamMobile {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  margin-top: 7rem;
  color: #fe8733cb;
}

#subTitleJoinTeamMobile {
  font-family: "Poppins", sans-serif;
  margin-top:-1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

#joinTeamCard1 {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#joinTeamCard2 {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#signOffJoinTeamMobile {
  font-family: "Give You Glory";
  font-size: 1.5rem;
}

#conditionMobile {
  font-family: "Poppins", sans-serif;
  font-size: 1vh;
}
