#contactUsContent {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 15vh;
  background-color: #fffff4;
}

#title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 7%;
  margin-left: 20%;
  color: #fe8733cb;
}

#subTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 20%;
}

.contactTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-left: 20%;
}

.contactContent {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-left: 20%;
  color: #fe8733cb;
}

#liveChat {
  color: #fe8733cb;
}

#conclusion {
  font-family: "Give You Glory";
  font-size: 1.2rem;
  margin-left: 20%;
}

/* --------mobile---------- */

#contactUsContentMobile {
  min-height: 100vh;
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffff4;
}

#titleMobile {
  font-size: 2.5rem; 
  color: #fe8733cb;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#subTitleMobile { 
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.contactTitleMobile {
  font-size: 2rem;  
}

.contactContentMobile {
  font-size: 1rem;
  color: #fe8733cb;
 
}

#conclusionMobile {
  font-family: "Give You Glory";
  font-size: 1.5rem;
  
}