#economicsContent {
  background-color: #fffff4;
}
.financialBenefits {
  color: #fffff4;
  font-weight: bold;
}
#economicsBanner {
  font-family: "Poppins", sans-serif;
  padding: 5vw;
  font-size: 1.2rem;
  padding-top: 20vh;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/econmicsBackground.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#economicsTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #fffff4;
}
#titleEmphasis {
  font-weight: 600;
  text-decoration: underline;
}
#economicsSubHeader {
  color: #fffff4;
}
#solSpanaInNumbers {
  margin-bottom: -15%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  color: #0d0e0b;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  z-index: 9;
  background-color: #fffff4;
}

#economicsBottomBanner {
  height: 60vh;
  background-color: #c8dacc;
}

#conclusionEconomics {
  position: relative;
  top: 60%;
  text-align: center;
  font-family: "Give You Glory";
  font-size: 4vh;
  color: #0d0e0b;
}
#economicsButton {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  color: #fe8733;
  border-radius: 10px;
}
.titleBenefit {
  font-size: 2rem;
  font-weight: 600;
  color: #0d0e0b;
}
#propertyValueSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
}
#lowerEnergyBillsSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
  color: #0d0e0b;
}
#sellToNationalGridSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
  color: #0d0e0b;
}
#sellBackToGridImg {
  height: 60vh;
}
#longtermInvestmentSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
  color: #0d0e0b;
}
#lowMaintenanceSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
  color: #0d0e0b;
}
#priceFallenSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
  color: #0d0e0b;
}
#grantsAndFinancialSupportSection {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
  color: #0d0e0b;
}
.mainCategoryContent {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 1.1rem;
}
.subContent {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 1rem;
}
li {
  list-style: square outside none;
  text-align: justify;
  font-size: 1.1rem;
  color: #fe8733;
}
li span {
  font-family: "Poppins", sans-serif;
  color: #0d0e0b;
}
.highlightedWord {
  color: #fe8733;
  font-weight: bold;
}
.parallax {
  background-image: url("/images/parallaxFinal.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d0e0b;
}

/* ----------mobile----------- */

#economicsContentMobile {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fffff4;
  font-family: "Poppins", sans-serif;
}

#economicsBannerMobile {
  font-family: "Poppins", sans-serif;
  padding: 5vw;
  font-size: 1.1rem;
  padding-top: 20vh;
  min-height: 85vh;
  min-width: 100vw;
  background-image: linear-gradient(#c8dacc, #70af85);
}

#economicsTitleMobile {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #fffff4;
}

#titleEmphasis {
  font-weight: 600;
  text-decoration: underline;
}

#economicsSubHeaderMobile {
  color: #fffff4;
}

.financialBenefitsMobile {
  color: #fffff4;
  font-weight: bold;
  width: 80vw;
}

#economyInformationSectionMobile {
  padding: 2rem;
}

.titleBenefitMobile {
  font-size: 1.5rem;
}

.mainCategoryContentMobile {
  font-size: 0.9rem;
  text-align: justify;
}

#economicsBottomBannerMobile {
  min-height: 60vh;
  min-width: 100vw;
  background-color: #c8dacc;
  padding: 2rem;
}

#conclusionEconomicsMobile {
  font-family: "Give You Glory";
  font-size: 1.5rem;
  padding-top: 2rem;
  text-align: center;
}

#wattsWhatInNumbersMobile {
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: #0d0e0b;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.numbersMobile {
  color: #fe8733;
}