#environmentSection {
  position: absolute;
  top: 100vh;
  width:100vw;
}

#environmentalContentLandingPage {
  width:50vw;
  color:black;
  position: absolute;
  top:50vh;
  left:5vw;
  transform: translate(0%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2vw;
}

#bannerButton {
  position: absolute;
  top: 95%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  color: black;
  border-radius: 10px;
}

#bannerButton:hover {
  background-color: transparent;
  color: #70af85;
  border: solid #70af85;
}
