#environmentSection {
  min-width: 100vw;
  min-height: 100vh;
}

#topCardsEnvironment {
  position: relative;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 0vh;
}

#bottomCardEnvironment {
  position: relative;
  width: 100vw;
}

#ourPrimaryMisson {
  height: 70vh;
  background-image: url("/images/old-age-360714_1920.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#ourPrimaryMissonText {
  text-align: center;
  color: #fffff4;
  position: absolute;
  bottom: 30%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background-color: #70af85;
  border-radius: 3px;
}

#promotionEnvironmentalBenefitsTitle {
  padding-top: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#promotingEnvironmentalBenefitsText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
}

#ourDedication {
  background-image: url("/images/charity.png");
  max-height: 50vh;
  min-height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 30vh;
}

#ourDedicationTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: left;
  padding-left: 5vw;
}

#ourDedicationText {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 5vw;
  font-size: 1.3rem;
  margin-right: 50vh;
}

#environmentalContentLandingPage {
  width: 50vw;
  color: black;
  position: absolute;
  top: 50vh;
  left: 5vw;
  transform: translate(0%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2vw;
}

#bannerButton {
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  border-width: 0.1vw;
  color: black;
  border-radius: 10px;
}

#bannerButton:hover {
  background-color: transparent;
  color: #70af85;
  border: solid #70af85;
  border-width: 0.1vw;
}

/* ------------mobile--------------- */

#topCardsEnvironmentMobile {
  position: relative;
  padding: 0vh;
}

#ourPrimaryMissionRowMobile {
  min-height: 100vw;
  background-image: url("/images/old-age-360714_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0vh;
}

#ourPrimaryMissonTextMobile {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  min-width: 100vw;
  background-color: #c8dacc;
  border-radius: 3px;
  margin: 1rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#promotionEnvironmentalBenefitsCardMobile {
  background-color: #c8dacc;
  padding-top: 0rem;
}

#promotionEnvironmentalBenefitsTitleMobile {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
}

#promotingEnvironmentalBenefitsTextMobile {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

#ourDedicationMobile {
  padding: 2rem;
}

#ourDedicationTitleMobile {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

#ourDedicationTextMobile {
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 1.3rem;
  padding: 2rem;
}

#bannerButtonMobile {
  font-size: 5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  border-width: 0.1vw;
  color: black;
  border-radius: 10px;
}

#bannerButtonMobile:hover {
  background-color: transparent;
  color: #70af85;
  border: solid #70af85;
  border-width: 0.1vw;
}

#ourCharitiesImageMobile {
  padding-bottom: 2rem;
}
