#environmentContent {
  background-color: #fffff4;
}

#environmentBanner {
  font-family: "Poppins", sans-serif;
  padding: 5vw;
  font-size: 3vh;
  padding-top: 20vh;
  height: 90vh;
  width: 100vw;
  background-color: #0d0e0b;
}

#environmentTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 9vh;
  color: #fffff4;
}

#titleEnvironmentEmphasis {
  font-weight: 600;
  text-decoration: underline;
}

#environmentSubHeader {
  color: #fffff4;
}

.environmentalBenefits {
  color: #fe8733;
  font-weight: bold;
}

#environmentCategory {
  font-size: 2.5vh;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 90vh;
  padding: 10vh;
}

.titleEnvironmentBenefit {
  font-size: 5vh;
  font-weight: 600;
  color: #0d0e0b;
}

.mainEnvironmentContent {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 2.5vh;
}

#environmentCondition {
  font-family: "Poppins", sans-serif;
  font-size: 1vh;
}

.environmentParallax {
  background-image: url("/images/parallaxFinal.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d0e0b;
}

#co2Comparsion {
  margin-bottom: -15%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  z-index: 9;
  background-color: #fffff4;
}

#environmentBottomBanner {
  height: 60vh;
  background-color: #c8dacc;
  text-align: center;
}

#environmentConclusion {
  font-family: "Give You Glory";
  font-size: 4vh;
  padding-top: 35vh;
  text-align: center;
}

#environmentQuoteButton {
  font-size: 4vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  color: #fe8733cb;
  border-radius: 10px;
}

.environmentHighlightedWord {
  color: #fe8733;
  font-weight: bold;
}

#titleCo2Segment {
  padding-left: 7vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4vh;
}

#co2Hightlight {
  font-weight: bold;
}

#co2ComparisonGridRow {
  position: absolute;
  height: 100%;
  bottom: 0%;
  height: 90%;
  width: 10%;
}

#questionOneColumn {
  position: absolute;
  left: 20%;
  transform: translate(-50%);
  bottom: 0%;
  height: 90%;
  width: 20%;
}

#questionTwoColumn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0%;
  height: 90%;
  width: 20%;
}

#questionThreeColumn {
  position: absolute;
  left: 80%;
  transform: translate(-50%);
  bottom: 0%;
  height: 90%;
  width: 20%;
}

#revealQuestionOneAnswer::after {
  position: absolute;
  bottom: 0%;
  content: "";
  width: 100%;
  height: 0%;
  background-color: #70af8f;
  transition: height 0.5s;
}

#revealQuestionOneAnswer:hover::after {
  height: 70%;
  transition: height 0.5s;
  background-color: #70af8f;
}

#revealQuestionOneAnswer.active {
  background-color: #70af8f;
}

#revealQuestionTwoAnswer::after {
  position: absolute;
  bottom: 0%;
  content: "";
  width: 100%;
  height: 0%;
  background-color: #70af8f;
  transition: height 0.5s;
}

#revealQuestionTwoAnswer:hover::after {
  height: 90%;
  transition: height 0.5s;
  background-color: #70af8f;
}

#revealQuestionTwoAnswer.active {
  background-color: #70af8f;
}

#revealQuestionThreeAnswer::after {
  position: absolute;
  bottom: 0%;
  content: "";
  width: 100%;
  height: 0%;
  background-color: #70af8f;
  transition: height 0.5s;
}

#revealQuestionThreeAnswer:hover::after {
  height: 60%;
  transition: height 0.5s;
  background-color: #70af8f;
}

#revealQuestionThreeAnswer.active {
  background-color: #70af8f;
}

.questionInCo2Segment {
  text-align: center;
  font-size: 2.5vh;
  font-family: "Poppins", sans-serif;
}

#answerQuestionOne {
  position: absolute;
  top: 12vh;
  font-size: 4vh;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  writing-mode: vertical-rl;
  line-height: 95%;
  margin-left: 0.5vw;
  color: #fffff4;
  z-index: 99;
}

#answerQuestionTwo {
  position: absolute;
  top: 5vh;
  font-size: 4vh;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  writing-mode: vertical-rl;
  line-height: 95%;
  margin-left: 0.5vw;
  color: #fffff4;
  z-index: 99;
}

#answerQuestionThree {
  position: absolute;
  top: 14vh;
  font-size: 4vh;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  writing-mode: vertical-rl;
  line-height: 95%;
  margin-left: 0.5vw;
  color: #fffff4;
  z-index: 99;
}
