#exitIntentContent {
  background-color: #70af85;
  font-family: "Poppins", sans-serif;
}

#exitIntentCard {
  box-shadow: none;
  border-radius: 10px;
  border: dashed .5vw #0d0e0b;
  min-width: 55vw;
  padding: .1vh;
  display: inline-block;
  background-color: #fffff4;
}

#exitIntentHeader {
  margin-top: 5vh;
  font-size: 5.5rem;
  float: left;
}

#exitIntentContent {
  font-size: 1.4rem;
  text-align: left;
}

#exitIntentHighlightedWord {
  color: #fffff4;
  font-weight: bold;
}

#exitIntentDisclaimer {
  font-size: .65rem;
  text-align: center;
}

#exitIntentQuoteButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
  color: #0d0e0b;
  border-radius: 10px;
  border: solid #0d0e0b;
  border-width: 2px;
}

#exitIntentQuoteButton:hover {
  background-color: transparent;
  border: solid #fe8733;
  border-width: 2px;
}

#exitIntentExitButton {
  float: right;
  position: relative;
  font-size: 1.2rem;
  background-color: #70af85;
  border: none;
  outline: none;
}

#exitIntentExitIcon {
  color: #bababa;
}

#exitIntentExitIcon:hover {
  color: #fffff4;
}