#faqsPage {
  min-height: 100vh;
  background-color: #fffff4;
  font-family: "Poppins", sans-serif;
  font-size:2vh;
  padding:10vh;
}

#faqsContent {
  min-height:100vh;
}

#faqTopBanner {
  height:40vh;
}

#faqTitle {
  font-family: "Poppins", sans-serif;
  font-size:5vh;
}