#faqsPage {
  min-height: 100vh;
  background-color: #fffff4;
  font-family: "Poppins", sans-serif;
  font-size:2vh;
  padding:10vh;
}

#faqsContent {
  min-height:100vh;
}

#faqTopBanner {
  min-height:40vh;
}

#faqTitle {
  position: relative;
  top:50%;
  transform: translate(-0%, -25%);
  font-family: "Poppins", sans-serif;
  font-size:7vh;
  font-weight: 600;
  padding-bottom: 11vh;
}