#faqsPage {
  min-height: 100vh;
  background-color: #fffff4;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 5vw;
}

#faqsContent {
  min-height: 100vh;
}

#faqTopBanner {
  min-height: 40vh;
}

#faqTitle {
  position: relative;
  top: 50%;
  transform: translate(-0%, -25%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  padding-bottom: 11vh;
}

#faqCards {
  background-color: transparent;
  box-shadow: none;
  border-bottom: solid #70af85;
  border-radius: 0vh;
  padding-bottom: 1rem;
}

#faqCards:hover {
  background-color: #70af85;
}

/* ---------mobile------------- */

#faqTitleMobile {
  padding:2rem;
  position: relative;
  top: 40%;
  transform: translate(-0%, -25%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  padding-bottom: 8rem;
}