.footer {
  min-width: 100vw;
  padding-top: 10vh;
  padding-bottom: 15vh;
  position: relative;
  background: #181460;
  text-align: center;
  width: 100%;
  bottom:0%;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fffff4;
}

.footerHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  line-height: 1.2em;
}

.footerHeader:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 3.5vw;
  content: "";
  border-top: 2.5px solid;
}

.footerLink {
  color: #fffff4;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0em;
}

.footerLink:hover {
  color: #bababa;
}

#adminLink {
  color: transparent;
}

#trophy {
  color: #fe8733;
}

.contact {
  margin: 0em;
}

#socialMedia {
  font-size: 3.5vh;
}

#instagramIcon:hover {
  color: #bababa;
}

#facebookIcon:hover {
  color: #bababa;
}

#twitterIcon:hover {
  color: #bababa;
}

#linkedinIcon:hover {
  color: #bababa;
}
