#heroPage {
  min-width: 100vw;
  min-height: 100vh;
}

#bannerTitle{
  font-family: "Poppins", sans-serif;
  font-size:2.5rem;
}

#bannerContent {
  position: absolute;
  top: 50vh;
  left: 5vw;
  transform: translate(0%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #0d0e0b;
}

#subTitleObtainQuotes {
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color:  #0d0e0b;
}

#environmentalHeroTitle {
  position: absolute;
  top: 50vh;
  right: 5vw;
  transform: translate(0%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #fffff4;
}

.numbers {
  color: #fe8733;
}

#angleDownIcon {
  color: #fe8733;
}

#dubbleArrowDown {
  width: 1rem;
  height: 1rem;
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  #0d0e0b;
}

/* ------------mobile------------ */


#heroPageMobile {
  min-width: 100vw;
  min-height: 100vh;
}

#topBannerContentMobile {
  width: 100vw;
  height:50vh;
  background-color:#fffff4;
}

#bannerTitleMobile {
  position: relative;
  top:60%;
  left:0%;
  transform: translate(0%,-50%);
  padding:2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color:  #0d0e0b;
}

#subTitleObtainQuotesMobile {
  transform: translate(0%,-50%);
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color:  #0d0e0b;
}

#bottomBannerContentMobile {
  width: 100vw;
  height:50vh;
  background-color: #70af85;
  padding: 2rem;
}

#environmentalHeroTitleMobile {
  position: relative;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color:  #fffff4;
}

.numbers {
  color: #0d0e0b;
}

#angleDownIconMobile {
  color: #fe8733;
}
