#heroPage{

}

#bannerContent{
  position: absolute;
  top:50vh;
  left:5vw;
  transform: translate(0%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3vw;
  color:black;
}

#subTitleObtainQuotes{
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  color:black;
}

#environmentalHeroTitle {
  position: absolute;
  top:50vh;
  right:5vw;
  transform: translate(0%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  color:white;
}

.numbers {
  color: #fe8733;
}

#angleDownIcon {
  color: #fe8733;
}

#dubbleArrowDown {
  width: 1rem;
  height: 1rem;
  display: flex;
  position: absolute;
  top: 94%;
  left:50%;
  transform: translate(-50%, -50%);
  color: black;
}