#howItWorksContent {
  height: 105vh;
  padding-top: 15vh;
}

#howItWorksTitle {
  font-family: "Poppins", sans-serif;
  font-size: 7vh;
  margin-top: 2%;
  margin-left: 20%;
}

#howItWorkssubTitle {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  margin-left: 20%;
}

#howItWorksCards {
  margin-left: 5%;
  display: inline-block;
}

#card1 {
  border-radius: 10px;
  background-color: #fe8733;
}

#howItWorksNumber {
  color: #fffff4;
  font-size: 4vw;
}

#howItWorksCardTitle {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksCardContent {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksArrow {
  color: #fffff4;
}

#howItWorksconclusion {
  font-family: "Give You Glory";
  font-size: 3vh;
  margin-left: 20%;
}