#howItWorksContent {
  min-height: 105vh;
  padding-top: 12vh;
}

#howItWorksTitle {
  font-family: "Poppins", sans-serif;
  font-size: 7vh;
  margin-top: 2%;
  margin-left: 20%;
}

#howItWorkssubTitle {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  margin-top: 10vh;
  margin-left: 20%;
}

#howItWorksCards {
  margin-left: 5%;
  display: inline-block;
}

#card1 {
  border-radius: 10px;
  background-color: #fe8733;
}

#howItWorksNumber1 {
  color: #fffff4;
  font-size: 4vw;
}

#howItWorksCardTitle1 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksCardContent1 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksArrow1 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#card2 {
  border-radius: 10px;
  background-color: #c8dacc;
}

#howItWorksNumber2 {
  color: #fffff4;
  font-size: 4vw;
}

#howItWorksCardTitle2 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksCardContent2 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksArrow2 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#card3 {
  border-radius: 10px;
  background-color: #c6ebc9;
}

#howItWorksNumber3 {
  color: #fffff4;
  font-size: 4vw;
}

#howItWorksCardTitle3 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksCardContent3 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksArrow3 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#card4 {
  border-radius: 10px;
  background-color: #70af85;
}

#howItWorksNumber4 {
  color: #fffff4;
  font-size: 4vw;
}

#howItWorksCardTitle4 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksCardContent4 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howItWorksArrow4 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#howItWorksconclusion {
  font-family: "Give You Glory";
  font-size: 3vh;
  margin-left: 30%;
}
