#howSolarWorksContent {
  min-height: 105vh;
  padding-top: 15vh;
  color: #0D0E0B;
}

#howSolarWorksTitle {
  font-family: "Poppins", sans-serif;
  font-size: 7vh;
  margin-top: 2%;
  margin-left: 20%;
}

#howSolarWorksSubTitle {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  margin-left: 20%;
  padding-bottom: 2%;
}

#howSolarWorksCard1 {
  border-radius: 10px;
  background-color: #70af85;
}

#howSolarWorksNumber1 {
  color: #fffff4;
  font-size: 4vw;
}

#howSolarWorksCardTitle1 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksCardContent1 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksArrow1 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#howSolarWorksCard2 {
  border-radius: 10px;
  background-color: #70af85;
  border: 2% solid #70af85;
  animation: electric-flicker 2s linear infinite;
}

#howSolarWorksNumber2 {
  color: #fffff4;
  font-size: 4vw;
}

#howSolarWorksCardTitle2 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksCardContent2 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksArrow2 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#howSolarWorksCard3 {
  border-radius: 10px;
  background-color: #70af85;
}

#howSolarWorksNumber3 {
  color: #fffff4;
  font-size: 4vw;
}

#howSolarWorksCardTitle3 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksCardContent3 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksArrow3 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#howSolarWorksCard4 {
  border-radius: 10px;
  background-color: #70af85;
}

#howSolarWorksNumber4 {
  color: #fffff4;
  font-size: 4vw;
}

#howSolarWorksCardTitle4 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksCardContent4 {
  font-family: "Poppins", sans-serif;
  color: #fffff4;
}

#howSolarWorksArrow4 {
  color: #fffff4;
  position: absolute;
  right: 0;
  bottom: 0;
}

@keyframes electric-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0em 0em 1em 0.5em #f4f912;
    -moz-box-shadow: 0em 0em 1em 0.5em #f4f912;
    box-shadow: 0em 0em 1em 0.5em #f4f912;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0em 0em 1em 0.5em #f4f912;
    -moz-box-shadow: 0em 0em 1em 0.5em #f4f912;
    box-shadow: 0em 0em 1em 0.5em #f4f912;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0em 0em 1em 0.5em #f4f912;
    -moz-box-shadow: 0em 0em 1em 0.5em #f4f912;
    box-shadow: 0em 0em 1em 0.5em #f4f912;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0em 0em 1em 0.5em #f4f912;
    -moz-box-shadow: 0em 0em 1em 0.5em #f4f912;
    box-shadow: 0em 0em 1em 0.5em #f4f912;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0em 0em 1em 0.5em #f4f912;
    -moz-box-shadow: 0em 0em 1em 0.5em #f4f912;
    box-shadow: 0em 0em 1em 0.5em #f4f912;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0em 0em 1em 0.5em #f4f912;
    -moz-box-shadow: 0em 0em 1em 0.5em #f4f912;
    box-shadow: 0em 0em 1em 0.5em #f4f912;
  }
}