.navbar {
  margin: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: fixed;
  background-color:transparent;
  z-index: 10;
  width: 100%;
}

.navbar.active {
  background-color: rgba(255, 248, 248, 0.735);
}

#dropDownMenu {
  background-color:#fffff4;
  font-family: "Poppins", sans-serif;
}

#economyWord {
  color: #fe8733cb;
}

#environmentWord {
  color: #fe8733cb;
}

#navbarButtonMenuItem {
  font-size: 1.5vw;
}

#navbarButton {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: #0d0e0b;
  border-radius: 10px;
  border: solid  #0d0e0b;
  border-width: 2px;
}

#navbarButton:hover {
  background-color: transparent;
  border: solid #fe8733;
  border-width:2px;
}