#summaryLandingPage {
  min-width: 100vw;
  min-height: 75vh;
}

#summaryCards {
  position: relative;
  margin-top: 5vw;
  top: 50%;
  padding-bottom: 10vh;
}

#summaryTitle {
  margin-top: -7vh;
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
}

#summaryCard1 {
  min-height: 65vh;
  background-color: transparent;
  border-style: solid;
  border-width: 0.3vh;
  border-radius: 10px;
  box-shadow: none;
  margin-right: 1vw;
}

#summaryTitle1 {
  color: #0d0e0b;
}

#summaryContent1 {
  color: #0d0e0b;
  font-size: 1rem;
}

i.icon.check {
  color: #fe8733;
}

#cardButton1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton1:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

#summaryCard2 {
  min-height: 65vh;
  background-color: transparent;
  border-style: solid;
  border-width: 0.3vh;
  border-radius: 10px;
  box-shadow: none;
  margin-right: 1vw;
}

#summaryTitle2 {
  color: #0d0e0b;
}

#summaryContent2 {
  color: #0d0e0b;
  font-size: 1rem;
}

#cardButton2 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton2:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

#summaryCard3 {
  min-height: 65vh;
  background-color: transparent;
  border-style: solid;
  border-width: 0.3vh;
  border-radius: 10px;
  box-shadow: none;
  margin-right: 1vw;
}

#summaryTitle3 {
  color: #0d0e0b;
}

#summaryContent3 {
  color: #0d0e0b;
  font-size: 1rem;
}

#cardButton3 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton3:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

#summaryCard4 {
  min-height: 65vh;
  background-color: transparent;
  border-style: solid;
  border-width: 0.3vh;
  border-radius: 10px;
  box-shadow: none;
}

#summaryTitle4 {
  color: #0d0e0b;
}

#summaryContent4 {
  color: #0d0e0b;
  font-size: 1rem;
}

#cardButton4 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton4:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

/* ------------mobile------------ */

#summaryLandingPageMobile {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: -12vh;
}

#summaryTitleMobile {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);
}

#summaryCardGroupMobile {
  padding-top: 5rem;
  min-width: 100vw;
}

#summaryCardsMobile {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

#summaryCard1Mobile {
  width: 45vw;
  min-height: 85vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px;
}

#cardButton1Mobile {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton1Mobile:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

#summaryCard2Mobile {
  width: 45vw;
  min-height: 85vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px;
}

#cardButton2Mobile {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton2Mobile:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

#summaryCard3Mobile {
  width: 45vw;
  min-height: 85vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px;
}

#cardButton3Mobile {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton3Mobile:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}

#summaryCard4Mobile {
  width: 45vw;
  min-height: 85vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px;
}

#cardButton4Mobile {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
}

#cardButton4Mobile:hover {
  background-color: transparent;
  color: #fe8733;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fe8733;
}
