#installationDate {
  position: relative;
  height: 100vh;
  background-color: fffff4;
}

#installationIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color:transparent;
}

#questionDiv {
    display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#questionImage {
  height:3.5vh;
}

.buttonIcons {
  background-color: transparent;
  border-radius: 10px;
  border-color: #bababa;
  border-style:solid;
  outline: none;
}

.imgInstallationDateIcons {
  height: 30vh;
  width: 10vw;
  background-color: #fffff4;
}

.buttonIcons:hover {
  border-color: #70af85;
}

.imgInstallationDateIcons {
  background-color: transparent;
  border-color: #bababa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#skipToPropertyTypeQ {
  position: absolute;
  top: 50%;
  right: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#backToMidPageSubmitOrContinue {
  position: absolute;
  top: 50%;
  left: 15%;
  color: rgba(0, 0, 0, 0.4);
}