#propertyType {
  position: relative;
  height: 100vh;
  background-color: #fffff4;
}

#propertyTypeIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
}

#propertyTypeQuestionDiv {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#propertyTypeQuestionImage {
  height: 3.5vh;
}

.propertyTypeButtonIcons {
  background-color: transparent;
  border-radius: 10px;
  border-color: #bababa;
  border-style: solid;
  outline: none;
}

.propertyTypeButtonIcons:hover {
  border-color: #70af85;
}

.imgPropertyTypeIcons {
  height: 30vh;
  width: 10vw;
}

#questionForPropertyType {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#skipToRoofSlopeQ {
  position: absolute;
  top: 50%;
  right: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#backToInstallationDateQ {
  position: absolute;
  top: 50%;
  left: 15%;
  color: rgba(0, 0, 0, 0.4);
}

/* --------mobile--------- */

#propertyTypeMobile {
  position: relative;
  min-height: 100vh;
  background-color: #fffff4;
  padding:2rem;
}

#propertyTypeQuestionDivMobile {
  font-family: "Poppins", sans-serif;
  padding-top: 8rem;
  font-size: 1.5rem;
}

#propertyTypeCardMobile {
  min-width:80vw;
  height:11vh;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  box-shadow: none;
}

#propertyTypeCardTextMobile {
  position: relative;
  text-align: center;
  font-size: 2rem;
}

#propertyTypeCardGridRowMobile {
  position: relative;
  top:50%;
  transform: translate(-0%, -50%);
}

.propertyTypeButtonIconsMobile {
  background-color: transparent;
  border-radius: 10px;
  border-color: #bababa;
  border-style:solid;
  outline: none;
}

.propertyTypeButtonIconsMobile:hover {
  border-color: #70af85;
}