#roofDirection {
  position: relative;
  min-height: 100vh;
  background-color: #fffff4;
}

#roofDirectionIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
}

#roofDirectionQuestionDiv {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#roofDirectionQuestionImage {
  height: 3.5vh;
}

.roofDirectionButtonIcons {
  background-color: transparent;
  border-radius: 10px;
  border-color: #bababa;
  border-style: solid;
  outline: none;
}

.roofDirectionButtonIcons:hover {
  border-color: #70af85;
}

.imgRoofDirectionIcons {
  height: 30vh;
  width: 10vw;
}

#questionForRoofDirection {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#skipToRoofDimensionsQ {
  position: absolute;
  top: 50%;
  right: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#backToRoofTypeQ {
  position: absolute;
  top: 50%;
  left: 15%;
  color: rgba(0, 0, 0, 0.4);
}

/* ------------mobile----------- */

#roofDirectionIconsMobile {
  position: relative;
  min-height: 100vh;
  background-color: #fffff4;
  padding:2rem;
}

#roofDirectionCardMobile {
  min-width:80vw;
  height:11vh;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  box-shadow: none;
}

#roofDirectionCardTextMobile {
  position: relative;
  text-align: center;
  font-size: 2rem;
}

#roofDirectionCardGridRowMobile {
  position: relative;
  top:50%;
  transform: translate(-0%, -50%);
}

.roofDirectionButtonIconsMobile {
  background-color: transparent;
  border-radius: 10px;
  border-color: #bababa;
  border-style:solid;
  outline: none;
}

.roofDirectionButtonIconsMobile:hover {
  border-color: #70af85;
}