#roofSlope {
  position: relative;
  height: 100vh;
  background-color: #ededed;
}

#roofSlopeIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.imgRoofSlopeIcons {
  height: 30vh;
  width: 10vw;
}

#questionForRoofSlope {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#slopeWord {
  color: #fe8733cb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#skipToRoofTypeQ {
  position: absolute;
  top: 50%;
  right: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#backToPropertyTypeQ {
  position: absolute;
  top: 50%;
  left: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#nextToRoofTypeQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.1vh;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
}

#nextToRoofTypeQ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

#nextToRoofTypeQ:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#nextToRoofTypeQ.active {
  border-bottom: 3px solid black;
}

#fieldSlope {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  width: 20vw;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  background: transparent;
}
#exactRoofSlopeQ {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
}