#roofDirection {
  position: relative;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.742);
}

#roofDirectionIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.imgRoofDirectionIcons {
  height: 30vh;
  width: 10vw;
}

#questionForRoofDirection {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#directionWord{
  color: #fe8733cb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#skipToRoofDimensionsQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4vh;
  position: absolute;
  top: 50%;
  right: 10%;
  background-color: transparent;
  border: none;
  outline: none;
}

#skipToRoofDimensionsQ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

#skipToRoofDimensionsQ:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#skipToRoofDimensionsQ.active {
  border-bottom: 3px solid black;
}

#backToRoofTypeQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4vh;
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: transparent;
  border: none;
  outline: none;
}

#backToRoofTypeQ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

#backToRoofTypeQ:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#backToRoofTypeQ.active {
  border-bottom: 3px solid black;
}