#navbar {
  padding-left: 5vw;
  padding-right: 5vw;
  margin: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}
#navbarButton {
  background-color: #c9e3ac;
}
#bannerImg {
  width: 100%;
}
#bannerTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#bannerButton{
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
}
#bannerDiv{
  position: ;
}