#addressQuestion {
  position: relative;
  min-height: 70vh;
  background-color:#fffff4;
}

#addressQuestionDiv {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#addressQuestionImage {
  height: 3.5vh;
}

#questionForAddress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fieldAddress {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  width: 40vw;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#nextToIconQ {
  position: absolute;
  top: 50%;
  right: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#backToTelephoneQ {
  position: absolute;
  top: 50%;
  left: 15%;
  color: rgba(0, 0, 0, 0.4);
}

/* --------mobile------- */

#moveOnMobile {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  top:60vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border-width: 0.1vw;
  background-color: transparent;
  color: #0d0e0b;
  border-style: solid;
  border-color: #0d0e0b;
  outline: none;
}

#moveOnMobile:hover {
  background-color: transparent;
  color: #70af85;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #70af85;
}