#emailQuestion {
  position: relative;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.742);
}

#questionAskingForEmail {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1, 5vw;
}

#nameFromPerson {
  color: #fe8733cb;
}

#questionForEmail {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fieldEmail {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  width: 40vw;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#nextToTelephoneQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3vh;
  position: absolute;
  top: 57%;
  right: 30%;
  background-color: transparent;
  border: none;
  outline: none;
}

#nextToTelephoneQ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

#nextToTelephoneQ:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#nextToTelephoneQ.active {
  border-bottom: 3px solid black;
}

#backToNameQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3vh;
  position: absolute;
  top: 57%;
  left: 30%;
  background-color: transparent;
  border: none;
  outline: none;
}

#backToNameQ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

#backToNameQ:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#backToNameQ.active {
  border-bottom: 3px solid black;
}