#telephoneQuestion {
  position: relative;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.742);
}

#questionForTelephone {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fieldTelephone {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  width: 40vw;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#nextToAddressQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4vh;
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: transparent;
  border:none;
  outline: none;
 
}

#nextToAddressQ::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#nextToAddressQ:hover::after {
  width: 100%;
  transition: width .3s;
}

#nextToAddressQ.active {
  border-bottom: 3px solid black;
}

#backToEmailQ {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4vh;
  position: absolute;
  top: 50%;
  left: 15%;
  background-color: transparent;
  border:none;
  outline: none;
 
}

#backToEmailQ::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#backToEmailQ:hover::after {
  width: 100%;
  transition: width .3s;
}

#backToEmailQ.active {
  border-bottom: 3px solid black;
}