#telephoneQuestion {
  position: relative;
  height: 100vh;
  background-color: #ededed;
}

#questionForTelephone {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#questionAskingForTelephone {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1, 5vw;
}

#contactWord {
  color: #fe8733cb;
}

#fieldTelephone {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  width: 40vw;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}

#nextToAddressQ {
  position: absolute;
  top: 50%;
  right: 15%;
  color: rgba(0, 0, 0, 0.4);
}

#backToEmailQ {
  position: absolute;
  top: 50%;
  left: 15%;
  color: rgba(0, 0, 0, 0.4);
}
